{% extends 'index.html.twig' %}
{% block title %}
    {{ 'szpejara'|trans }} {{ 'view.homepage'|trans }}
    {% endblock %}
{% block body %}
    <section class="bar background-image-fixed-2 no-mb color-white text-center">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="icon icon-lg"><i class="fa fa-compass" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-uppercase">{{ 'text.rental'|trans }}</h3>
                    <p class="lead">{{ 'text.adventure'|trans }}</p>
                    <p class="text-center">
                        <a href="{{ url('category_index')}}" class="btn btn-template-transparent-black btn-lg">{{ 'text.browse_all'|trans }}</a>
                    </p>
                </div>

            </div>
        </div>
    </section>
{% endblock %}