{% extends 'index.html.twig' %}
{% block body %}
    {% block breadcrumbs %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                            <h1>Wszystkie produkty</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{ url('homepage') }}">Strona główna</a></li>
                            <li>Wszystkie kategorie</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div id="content">
        <div class="container">


            <div class="row products">
            {% for row in paginator.data %}
                <div class="col-md-3 col-sm-4">
                    <div class="product">
                        <div class="image">
                            <a href="{{ url('product_view', {'id': row.product_id}) }}">
                                <img src="/uploads/photos/{{ row.img }}" alt="{{ row.name }}" class="img-responsive image1">
                            </a>
                        </div>
                        <!-- /.image -->
                        <div class="text">
                            <h3><a href="{{ url('product_view', {'id': row.product_id}) }}">{{ row.name }}</a></h3>
                            <p class="price">{{ row.price }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                    <p class="text">
                                <a href="{{ url('product_edit', {'id': row.product_id}) }}" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i>Edytuj</a>
                                <a href="{{ url('product_delete', {'id': row.product_id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i>Usuń</a>
                            </p>
                    {% endif %}
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-12">


           {% include asset('default/_pagination.html.twig') with {
            paginator: paginator,
            route_name: 'category_index_paginated',
            } %}

        </div>
    </div>
{% endblock %}