<div class="col-md-3">
    <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
    <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Panel użytkownika</h3>
        </div>

        <div class="panel-body">

            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="{{ url('customer_order_index') }}"><i class="fa fa-list"></i> Zamówienia</a>
                </li>
                <li>
                    <a href="{{ url('customer_account_index') }}"><i class="fa fa-user"></i> Moje dane</a>
                </li>
                <li>
                    <a href="{{ url('customer_password_index') }}"><i class="fa fa-key" aria-hidden="true"></i> Zmiana hasla</a>
                </li>
                <li>
                    <a href="{{ url('category_index') }}"><i class="fa fa-database" aria-hidden="true"></i> Produkty</a>
                </li>
                <li>
                    <a href="{{ url('auth_logout') }}"><i class="fa fa-sign-out"></i> Wyloguj się</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.col-md-3 -->

    <!-- *** CUSTOMER MENU END *** -->
</div>

<!-- *** RIGHT COLUMN END *** -->

</div>