{% extends 'index.html.twig' %}
{% block body %}
    {% block breadcrumbs %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ 'action.change_password'|trans }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{ url('homepage') }}">{{ 'view.homepage'|trans }}</a></li>
                            <li><a href="{{ url('customer_index') }}">{{ 'view.customer'|trans }}</a></li>>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="box">
                <ul>
                    <li>
                        <a href="{{ url('customer_order_index') }}">Wszystkie zamówienia</a>
                    </li>
                    <li>
                        <a href="{{ url('customer_account_index') }}">Moje dane</a>
                    </li>
                    <li>
                        <a href="{{ url('customer_password_index') }}">Zmiana hasła</a>
                    </li>
                    <li>
                        <a href="{{ url('category_index') }}">Przeglądaj produkty</a>
                    </li>
                </ul>
                    </div>
                </div>
                {% include 'customer/_rightmenu.html.twig' %}
            </div>
        </div>
    </div>



{% endblock %}