{% extends 'index.html.twig' %}
{% block body %}
    {% block breadcrumbs %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ 'view.order' }} #{{ order.borrowed_id }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{ url('homepage') }}">{{ 'view.homepage'|trans }}</a></li>
                            <li><a href="{{ url('customer_index') }}">{{ 'view.customer'|trans }}</a></li>
                            <li>{{ 'view.orders'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9" id="customer-orders">

                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            {{ 'label.client'|trans }}: <a href="{{ url('admin_user_edit', {'id': order.FK_user_id}) }}"> {{ order.firstname }} {{ order.surname }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            {{ 'label.status'|trans }}: {{  order.status }}
                        </div>
                        <div class="col-sm-6 col-md-3">
                            {{ 'label.amount'|trans }}: {{ order.order_price }} {{ 'curr'|trans }}
                        </div>
                    </div>


                    <div class="box">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>{{ 'table.id'|trans }}</th>
                                    <th>{{ 'label.img'|trans }}</th>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <th>{{ 'label.qty'|trans }}</th>
                                    <th>{{ 'label.price'|trans }}</th>
                                    <th>{{ 'action'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in order_data %}
                                    <tr>
                                        <th>#{{ row.FK_product_id }}</th>
                                        <td><img src="{{ asset('uploads/photos/' ~ row.img) }}" alt="{{ row.name }}" class="img-responsive"></td>
                                        <td>{{ row.name }}</td>
                                        <td>{{ row.qty }}</td>
                                        <td>{{ row.price }}</td>
                                        <td><a href="{{ url('product_view', {'id': row.FK_product_id}) }}" class="btn btn-template-main btn-sm">{{ 'action.view'|trans }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                {% include 'customer/_rightmenu.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}