{% block navbar %}
    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

        <div class="navbar navbar-default yamm" role="navigation" id="navbar">

            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand home" href="{{ asset('index.php') }}">
                        <img src="{{ asset('img/logo.png') }}" alt="Szpejara logo" class="hidden-xs hidden-sm">
                        <img src="{{ asset('img/logo-small.png') }}" alt="Szpejara logo" class="visible-xs visible-sm"><span class="sr-only">Strona główna</span>
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Nav</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-right">


                        <!-- ========== FULL WIDTH MEGAMENU ================== -->
                        <li class="dropdown use-yamm yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Wypożyczalnia <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h5>Sprzęt wspinaczkowy</h5>
                                                <ul>
                                                    {% for row in climbing %}
                                                    <li><a href="{{ url('category_view', {'id': row.category_id}) }}">{{ row.category_name }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Sprzęt zimowy</h5>
                                                <ul>
                                                    {% for row in winter %}
                                                        <li><a href="{{ url('category_view', {'id': row.category_id}) }}">{{ row.category_name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Skitouring</h5>
                                                <ul>
                                                    {% for row in skitouring %}
                                                        <li><a href="{{ url('category_view', {'id': row.category_id}) }}">{{ row.category_name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Sprzęt turystyczny</h5>
                                                <ul>
                                                    {% for row in camping %}
                                                        <li><a href="{{ url('category_view', {'id': row.category_id}) }}">{{ row.category_name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                    <!-- /.yamm-content -->
                                </li>
                            </ul>
                        </li>
                        <!-- ========== FULL WIDTH MEGAMENU END ================== -->

                        <li class="dropdown">
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">O nas <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="">O wypożyczalni</a>
                                </li>
                                <li><a href="">Jak nas znaleźć?</a>
                                </li>
                                <li><a href="">Regulamin</a>
                                </li>

                            </ul>
                        </li>
    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ url('admin_index') }}">Panel administracyjny</a> </li>
        {% endif %}
                    </ul>

                </div>
                <!--/.nav-collapse -->



                <div class="collapse clearfix" id="search">

                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">

                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                </span>
                        </div>
                    </form>

                </div>
                <!--/.nav-collapse -->

            </div>

        </div>
        </div>
{% endblock %}