{% extends 'index.html.twig' %}
{% block body %}
    {% block breadcrumbs %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ user.username }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{ url('homepage') }}">{{ 'view.homepage'|trans }}</a></li>
                            <li><a href="{{ url('admin_index') }}">{{ 'view.admin'|trans }}</a></li>
                            <li>{{ 'view.changePassword'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div id="content">
        <div class="container">
            <div class="row">

                {{ form_start(form, { method: 'post', action: path('admin_password_change', {'id': user.user_id}) }) }}
                <div class="col-md-9">
                    <div class="box">

                        <div class="form-group">
                            {{  form_row(form.password.first) }}
                        </div>

                        <div class="form-group">
                            {{  form_row(form.password.second) }}
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-template-main" />
                    </div>
                </div>
                {% include 'admin/_rightmenu.html.twig' %}

            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}