{% extends 'index.html.twig' %}
{% block body %}
    {% block breadcrumbs %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ 'view.admin'|trans }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{ url('homepage') }}">{{ 'view.homepage'|trans }}</a></li>
                            <li>{{ 'view.admin'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="box">
                        <ul>
                            <li>
                                <a href="{{ url('admin_order_index') }}">{{ 'view.orders'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ url('admin_user_index') }}">{{ 'view.customers'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ url('category_index') }}">{{ 'view.products'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% include asset('admin/_rightmenu.html.twig') %}
          </div>
        </div>
    </div>



{% endblock %}