{% extends 'index.html.twig' %}
{% block body %}
    {% block breadcrumbs %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ user.username }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{ url('homepage') }}">Strona główna</a></li>
                            <li><a href="{{ url('admin_index') }}">Panel administracyjny</a></li>
                            <li>Użytkownik</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
<div id="content">
    <div class="container">
        <div class="row">
        <div class="col-md-9">
            {{ form_start(form, { method: 'post', action: path('admin_user_edit', {'id': user.user_id}) }) }}
            <div class="col-md-6">
                <div class="box">
                    <div class="form-group">
                        {{ form_row(form.FK_role_id) }}
                    </div>
                    <div class="form-group">
                        {{  form_row(form.firstname) }}
                    </div>
                    <div class="form-group">
                        {{  form_row(form.surname) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="form-group">
                        {{  form_row(form.email) }}
                    </div>
                    <div class="form-group">
                        {{  form_row(form.telephone) }}
                    </div>
                    <div class="form-group">
                        {{  form_row(form.adress) }}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-template-main" />
            </div>
            {{ form_end(form) }}
          </div>

            {% include asset('customer/_rightmenu.html.twig') %}



        </div>
    </div>
</div>
{% endblock %}