{% extends 'index.html.twig' %}
{% block body %}
    {% block breadcrumbs %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Dodaj produkt</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{ url('homepage') }}">Panel administracyjny</a></li>
                            <li>Dodaj produkt</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

                    <div class="col-md-9">

                        <div class="row" id="productMain">

                            {{ form_start(form, { method: 'post', action: url('product_add') }) }}
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">{{  form_row(form.name) }}</div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">{{ form_row(form.FK_category_id) }}</div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">{{ form_row(form.qty) }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">{{ form_row(form.price) }}</div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">{{ form_row(form.img) }}</div>
                            </div>
                        </div>
                            </div>
                            <div class="row">
                            <div class="form-group">{{ form_row(form.description) }}</div></div>

                            <input type="submit" value="{{ 'zapisz' }}" class="btn btn-template-main" />
                            {{ form_end(form) }}
                            </div>


                    <!-- /.col-md-9 -->


                    <!-- *** LEFT COLUMN END *** -->

                    {% include 'product/_rightmenu.html.twig' %}

                </div>
                <!-- /.row -->
            </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->



{% endblock %}
