{% extends 'index.html.twig' %}
{% block body %}
    {% block breadcrumbs %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{ url('homepage') }}">{{ 'view.admin'|trans }}</a></li>
                            <li>{{ 'action.delete_product'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div id="content">
        <div class="container">

            <div class="row">

                <!-- *** LEFT COLUMN ***
        _________________________________________________________ -->

                <div class="col-md-9">

                    <div class="row" id="productMain">

                        {{ form_start(form, { method: 'post', action: url('product_delete', {'id': product.product_id}) }) }}

                        <div class="row">
                            <p class="text-muted">{{ 'text.are_you_sure'|trans }}</p>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">{{ form_widget(form) }}</div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <input type="submit" value="{{ 'Usuń' }}" class="btn btn-danger" />
                    </div>
                    {{ form_end(form) }}
                </div>


                <!-- /.col-md-9 -->


                <!-- *** LEFT COLUMN END *** -->

                {% include 'product/_rightmenu.html.twig' %}

            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
    </div>
    <!-- /#content -->



{% endblock %}
