
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {% if (name != 'null') %}
                <h1>{{ name }}</h1>
                {% else %}
                <h1>{{ category }}</h1>
                {% endif %}
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="{{ url('homepage') }}">{{ 'view.homepage'|trans }}/a></li>
                    {% if (parent_category != null) %}
                    <li><a href="{{ url('category_view', {'id': parent_id}) }}">{{ parent_category }}</a></li>
                    {% endif %}
                    <li><a href="{{ url('category_view', {'id': category_id}) }}">{{ category }}</a></li>
                    {% if (name != 'null') %}
                    <li>{{ name }}</li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</div>
